.card {
	box-shadow: 0.25rem 0.25rem 0.5rem 0.3rem #282928;
	width: 32rem;
	height: 16rem;
	border-radius: 1rem;
	display: flex;
	padding: 1rem;
	font-family: "Open Sans", sans-serif;
}
.grid {
	display: flex;
	justify-content: center;
	align-items: center;
}
.card .texts {
	display: flex;
	flex-direction: column;
	flex: 1;
	justify-content: center;
	align-items: center;
}
.card .logo {
	height: 100%;
	border-radius: 50%;
}
.card .top_info {
	height: 6rem;
	display: flex;
	flex: 1;
}
.card .texts .spacer {
	height: 1rem;
}
.card .name {
	font-size: 2rem;
}
.card .logo_status {
	display: flex;
	flex-direction: column;
	align-items: center;
}
.card .logo_status .spacer {
	height: 1rem;
}
.status {
	font-size: 1.2rem;
}
.ip {
	font-size: 1.2rem;
}
.card .dot {
	flex-shrink: 0;
	height: 1rem;
	width: 1rem;
	border-radius: 50%;
	background: green;
}
