.nadpis {
	text-align: center;
	font-size: 4rem;
	font-family: "Open Sans", sans-serif;
}
@media (min-width: 1000px) {
	.nadpis {
		font-size: 10rem;
	}
}
.nadpis_container {
	flex: 1;
	display: flex;
	justify-content: center;
	align-items: center;
}
