* {
	vertical-align: baseline;
	font-weight: inherit;
	font-family: inherit;
	font-style: inherit;
	font-size: 100%;
	border: 0 none;
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
.root {
	color: var(--color-fg-main);
	background-color: var(--color-bg-main);
	min-height: 100vh;
}
.main_content {
	height: 100vh;
	display: flex;
	flex-direction: column;
}
.nav {
	display: flex;
	padding: 1rem 2rem;
}
.nav_logo_spacer,
.nav_logo {
	width: 8.5rem;
}
.center_links {
	list-style: none;
	display: flex;
	width: 100%;
	justify-content: center;
	font-family: "Open Sans", sans-serif;
	font-size: 1.25rem;
}
.center_links a {
	color: white;
	text-decoration: none;
	padding: 0.4rem 1rem;
	display: block;
}
/******************/
/*navbar animation*/
/******************/
.center_links a {
	position: relative;
}

.center_links a:before,
.center_links a:after {
	position: absolute;
	left: 0px;
	width: 100%;
	height: 0.1rem;
	background: rgb(255, 255, 255);
	content: "";
	opacity: 0;
	transition: all 0.3s;
}

.center_links a:before {
	top: 0px;
	transform: translateY(0.5rem);
}

.center_links a:after {
	bottom: 0px;
	transform: translateY(-0.5rem);
}

.center_links a:hover:before,
.center_links a:hover:after {
	opacity: 1;
	transform: translateY(0px);
}
/********/
/*footer*/
/********/
.footer {
	background: #282928;
	padding: 4rem;
	text-align: center;
	font-size: 1.1rem;
	font-family: "Open Sans", sans-serif;
}
